composer.phar
composer.lock
error_log

/vendor/
/config/
/cert/
/data/
/www/assets/spid-sp-access-button/
/www/doc
/www/stats
/www/test.php
/.phpdoc/
/.phpunit.cache/
tests.sqlite

/www/assets
/www/view

